.main {
    padding: 0 20px 0 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    min-width: 0;
}
/* -------------------------------------------------------- */
#main_video{
    width: 100%;
}

#video_screen{
    width: 100%;
}

#main_video_prev img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/8;
}

.videoPlayer{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 16px;
}


/* -------------------------------------------------- */

.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    /* overflow: hidden; */
}

.playerContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow: hidden;
}

.videoPlayer {
    z-index: 0;
}

.controlsContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.controls {
    padding-top: 10px;
    display: flex;
    z-index: 11;
    color: white;
    width: 95%;
    justify-content: space-between;
}

.controlButton {
    border: none;
    background: none;
}

.timeline {
    width: 95%;
    background: #FFFFFF33;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#durationLeft, #durationRight  {
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.controlButton:hover {
    cursor: pointer;
}

#left_part{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: start;
    align-items: center;
}

#pause_ico{
    width: 22px;
    height: 24px;
}

#next_ico{
    width: 27px;
    height: 18px;
}

#volume_sec{
    width: 130px;
    height: 24px;
    display: flex;
    align-items: center;
}

#volume_ico{
    width: 24px;
}

#volume_bar{
    width: 86px;
    height: 8px;
    background-color: #FFFFFF33;
    border-radius: 4px;
}

#volume_progress{
    width: 36px;
    height: 8px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

#right_part{
    display: flex;
    align-items: center;
    gap: 25px;
}

#sub_ico{
    height: 18px;
}

#set_ico{
    height: 27px;
}

#size_ico{
    height: 21px;
}

#screen_ico{
    height: 24px;
}

/* ---------------------------------------------------------------------------------------------- */

#name{
    padding-top: 20px;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #192646;
}

#under_vid_section{
    padding-top: 14px;
    display: flex;
}

#views{
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #C2C2C2;   
}

#likes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#dislikes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#like_ico{
    height: 13px;
}

#dislike_ico{
    height: 13px;
}

#share_ico{
    height: 12px;
}

#under_vid_section div div{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #192646; 
}

.cover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

#more{
    padding: 0 0 0 30px;
    align-items: center;
}

#more_ico{
    height: 6px;
}

#right{
    display: flex;
    gap: 10px;
    align-items: center;
}

#hr{
    margin-top: 15px;
    width: 100%;
    max-width: 1363px;
    height: 1px;
    background-color: #D8D8D880;
}

.description_section{
    height: auto;
    display: flex;
    padding-top: 40px;
}

#description{
    width: auto;
    max-width: 912px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#description_right_sec{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#desc_auth_name{
    font-family: "Mulish", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #19202C; 
}

#published_data{
    font-family: "Mulish", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #C2C2C2; 
}

#description_text{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000; 
    opacity: 60%;
}

#show_button{
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #C2C2C2; 
}

#subscribe_button{
    width: 154px;
    height: 40px;
    background-color: #FF0000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe_button div{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF; 
}             

/* ---------------------------------------------------------- */

#rec_videos{
    padding-left: 40px;
    width: 100%;
    max-width: 367px;
}

#rec_top_sec{
    display: flex;
}

#next_text{
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #19202C; 
}

#autoplay_sec{
    display: flex;
    align-items: center;
    gap: 10px;
}

#autoplay_text{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #19202C; 
    text-transform: uppercase;
}

#switch{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 44px;
    height: 28px;
    background-color: rgb(235, 235, 235, 30%);
    border-radius: 14px;
}

#switch_in{
    width: 24px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 14px;  
    box-shadow: 0px 1px 1px #0000003D; 
}

#video_sec{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    gap: 20px;
    width: 100%;
}

#preview_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#preview{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

#video_time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 4px 8px;
}

#time_text {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

#video_name{
    margin-top: 13px;
    font-weight: 700;
    font-size: 26px;
    color: #19202C;
}

#video_inf{
    margin-top: 11px;
    display: flex;
}


#views_rec{
    font-weight: 400;
    font-size: 18px;
    color: #C2C2C2;
    display: flex;
}

#author{
    font-weight: 400;
    font-size: 18px;
    color: #C2C2C2;
    display: flex;
}

#mob{
    display: none;
}

#subscribed{
    display: none;
}

#arrow{
    display: none;
}

#mobile_video_nav_sec{
    display: none;
}

@media (max-width: 768px) {

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #name_sec, #under_vid_section, .description_section, #rec_videos{
        padding-left: 16px;
        padding-right: 16px;
    }

    .controls, .duration, .timeline{
        display: none;
    }

    .videoPlayer{
        border-radius: 0px;
    }
    
    #name{
        font-size: 20px;
    }

    #under_vid_section{
        gap: 20px;
        flex-direction: column;
        align-items: start;
    }

    #author_logo{
        height: 50px;
    }

    #desc_auth_name{
        font-size: 16px;
    }

    #description{
        width: auto;
        gap: 10px;
    }

    #description_text, #published_data, #show_button{
        display: none;
    }

    #subscribe_button{
        background-color: #FFFFFF;
    }

    #description_right_sec{
        height: auto;
        gap: 4px;
        justify-content: start;
    }
    
    #next_text{
        font-size: 20px;
    }

    #autoplay_text{
        font-size: 10px;
    }

    #rec_videos{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #rec_top_sec{
        align-items: center;
        width: 100%;
    }

    #preview{
        width: 100%;
        height: auto;
    }

    #video_name{
        width: 100%;
    }

    #video_inf{
        width: 100%;
    }

    #video_name{
        font-size: 16px;
    }

    #views_rec{
        font-size: 13px;
    }

    #author{
        font-size: 13px;
    }

    #more{
        display: none;
    }

    #desc_auth_name{
        margin-top: 5px;
    }

    #hr2{
        margin-top: 20px;
        align-self: center;
        width: 95%;
        height: 1px;
        background-color: #D8D8D880;
    }

    #hr{
        margin-top: 30px !important;
        margin: auto;
        align-self: center;
        width: 95%;
        height: 1px;
        background-color: #D8D8D880;
    }

    #subscribed{
        display: block;
    }

    #desc{
        display: none;
    }

    #mob{
        display: block;
    }

    #subscribe_button div{
        color: #FF0000;
    }

    #rec_videos{
        max-width: 700px;
        padding-top: 20px;
    }

    .videos{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


    /* mob nav */

    #mobile_video_nav_sec{
        display: flex;
        width: 90%;
        height: 30px;
        align-items: center;
        background-color: rgba(61, 61, 61, 0.6);
        border-radius: 10px;
    }

    #volume_mob{
        padding-right: 10px;
    }

    .controlButton{
        padding-left: 10px;
    }

    #pause_ico{
        height: 12px;
        width: 12px;
    }

    #mob_center{
        align-items: center;
        flex: 1;
        min-width: 0px;
        display: flex;
        justify-content: space-around;
    }

    .timeline_mob{
        width: 70%;
    }

    #start_time_mob, #end_time_mob {
        font-family: "Mulish", sans-serif;
        font-size: 10px;
        font-weight: 400;
        color: #FFFFFF; 
    }
}