.main{
    /* background-color: aqua; */
    width: 1800px;
    height: 1325px;
    margin-top: 94px;
    justify-self: center;
    display: flex;
}

#video_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_video_prev img{
    width: 1363px;
    height: 700px;
}

#main_nav{
    position: absolute;
    /* background-color: antiquewhite; */
    top: 570px;
    width: 1297px;
    height: 120px;
}

#time_sec{
    display: flex;
    justify-content: space-between;
}

#time_sec div{
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

#timeline_sec{
    margin-top: 20px;
    width: 1297px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF33;
}

#progress{
    height: 10px;
    background-color: #FF0000;
    border-radius: 5px;
    width: 280px;
}

#video_nav_sec{
    display: flex;
    justify-content: space-between;
}

#left_part{
    margin-left: 10px;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: start;
    align-items: center;
}

#pause_ico{
    width: 22px;
    height: 24px;
}

#next_ico{
    width: 27px;
    height: 18px;
}

#volume_sec{
    width: 130px;
    height: 24px;
    display: flex;
    align-items: center;
}

#volume_ico{
    width: 24px;
}

#volume_bar{
    width: 86px;
    height: 8px;
    background-color: #FFFFFF33;
    border-radius: 4px;
}

#volume_progress{
    width: 36px;
    height: 8px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

#right_part{
    margin-right: 10px;
    margin-top: 21px;
    display: flex;
    align-items: center;
    gap: 25px;
}

#sub_ico{
    height: 18px;
}

#set_ico{
    height: 27px;
}

#size_ico{
    height: 21px;
}

#screen_ico{
    height: 24px;
}

#name{
    margin-top: 20px;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #192646;
}

#under_vid_section{
    margin-top: 14px;
    display: flex;
}

#views{
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #C2C2C2;   
}

#likes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#dislikes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 20px;
}

#like_ico{
    height: 13px;
}

#dislike_ico{
    height: 13px;
}

#share_ico{
    height: 12px;
}

#under_vid_section div div{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #192646; 
}

.cover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

#more{
    margin-left: 30px;
    align-items: center;
    margin-top: -4px;
}

#more_ico{
    height: 6px;
}

#right{
    display: flex;
    gap: 10px;
    align-items: center;
}

#hr{
    margin-top: 15px;
    width: 1363px;
    height: 1px;
    background-color: #D8D8D880;
}

.description_section{
    height: 195px;
    display: flex;
}

#description{
    width: 912px;
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#description_right_sec{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#desc_auth_name{
    font-family: "Mulish", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #19202C; 
}

#published_data{
    font-family: "Mulish", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #C2C2C2; 
    margin-top: -8px;
}

#description_text{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000; 
    opacity: 60%;
}

#show_button{
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #C2C2C2; 
}

#subscribe_button{
    margin-top: 38px;
    width: 154px;
    height: 40px;
    background-color: #FF0000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe_button div{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF; 
}                

#rec_videos{
    margin-left: 40px;
}

#rec_top_sec{
    display: flex;
}

#next_text{
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #19202C; 
}

#autoplay_sec{
    display: flex;
    align-items: center;
    gap: 11px;
}

#autoplay_text{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #19202C; 
    text-transform: uppercase;
}

#switch{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 44px;
    height: 28px;
    background-color: rgb(235, 235, 235, 30%);
    border-radius: 14px;
}

#switch_in{
    width: 24px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 14px;  
    box-shadow: 0px 1px 1px #0000003D; 
}

#video_sec{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 23px;
}

#preview_sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview{
    width: 367px;
    height: 213px;
}

#video_time{
    position: absolute;
    margin-top: -40px;
    margin-left: 193px;
    width: 47px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time_text{
    opacity: 130%;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

#video_name{
    margin-top: 13px;
    font-weight: 700;
    font-size: 26px;
    color: #19202C;
}

#video_inf{
    margin-top: 11px;
    display: flex;
}

#views_rec{
    font-weight: 400;
    font-size: 18px;
    color: #C2C2C2;
    display: flex;
}

#author{
    font-weight: 400;
    font-size: 18px;
    color: #C2C2C2;
    display: flex;
}

#mob{
    display: none;
}

#subscribed{
    display: none;
}

#arrow{
    display: none;
}

#mobile_video_nav_sec{
    display: none;
}

@media (max-width: 768px) {

    #video_screen{
        justify-content: start;
    }

    #main_nav{
        top: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0px;
    }

    #mobile_video_nav_sec{
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        display: flex;
        background-color: rgba(61, 61, 61, 0.6);
        height: 30px;
        width: 95%;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }

    #mob_center{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 70%;
    }

    #start_time_mob, #end_time_mob{
        font-family: "Mulish", sans-serif;
        font-size: 10px;
        font-weight: 400;
        color: #FFFFFF; 
    }

    #timeline_mob{
        width: 100%;
        height: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2.5px;
    }

    #progress_mob{
        border-radius: 2.5px;
        width: 30%;
        height: 5px;
        background-color: rgba(255, 0, 0, 1);
    }

    #video_nav_sec, #timeline_sec, #time_sec{
        display: none;
    }

    .time{
        right: 10px;
        bottom: 15px;
    }

    .video{
        width: 80%;
    }

    .video img{
        width: 100%;
        height: 100%;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
   
    #main_video{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #video_screen{
        width: 100%;
    }

    #main_video_prev img{
        width: 100%;
        height: auto;
    }
   
    #name{
        left: 16px;
        font-size: 20px;
    }

    #under_vid_section{
        margin-top: 4px;
        gap: 20px;
        left: 16px;
        flex-direction: column;
        align-items: start;
    }

    .description_section{
        height: auto;
    }

    #author_logo{
        height: 50px;
    }

    #desc_auth_name{
        font-size: 16px;
    }

    #description{
        width: auto;
        gap: 10px;
        left: 16px;
    }

    #description_text, #published_data, #show_button{
        display: none;
    }

    #subscribe_button{
        right: 16px;
        background-color: #FFFFFF;
        width: 74px;
    }

    #description_right_sec{
        height: auto;
        gap: 4px;
        justify-content: start;
    }

    #name_sec{
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    #arrow{
        margin-right: 20px;
        margin-top: 15px;
    }

    #next_text{
        font-size: 20px;
    }

    #autoplay_text{
        font-size: 10px;
    }

    #rec_videos{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #rec_top_sec{
        margin-left: 16px;
        align-items: center;
        width: 93%;
    }

    #preview{
        width: 90%;
        height: auto;
    }

    #video_name{
        width: 90%;
    }

    #video_inf{
        width: 90%;
    }

    #video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #video_time{
        background-color: transparent;
        margin: auto;
        justify-content: flex-end;
        width: 90%;
        bottom: 15px;
    }

    #video_name{
        font-size: 16px;
    }

    #views_rec{
        font-size: 13px;
    }

    #author{
        font-size: 13px;
    }

    #time_text{
        margin-right: 10px;
        width: 47px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #more{
        display: none;
    }

    #desc_auth_name{
        margin-top: 5px;
    }

    #hr2{
        margin-top: 20px;
        align-self: center;
        width: 95%;
        height: 1px;
        background-color: #D8D8D880;
    }

    #hr{
        margin-top: 30px !important;
        margin: auto;
        align-self: center;
        width: 95%;
        height: 1px;
        background-color: #D8D8D880;
    }

    #rec_videos{
        margin-top: 20px;
        margin-left: 0;
    }

    #subscribed{
        display: block;
    }

    #desc{
        display: none;
    }

    #mob{
        display: block;
    }

    #subscribe_button div{
        color: #FF0000;
    }

    .videos{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}