#top_section {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 65px;
    background-color: #FFFFFF;
    gap: 20px;
}

#top_section a:hover{
    cursor: pointer;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 28px;
}

#menu_button {
    display: flex;
    align-items: center;
}

#menu_button img {
    width: 20px;
    height: 17px;
}

#logo {
    width: 116px;
    height: 25px;
}

.search {
    flex: 1;
    max-width: 830px;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 0;
}

#search_field {
    flex: 1;
    height: 44px;
    border-radius: 22px;
    border: 0;
    background-color: #EBEBEB;
    opacity: 0.3;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 50px 0 20px;
    min-width: 0;
}

#search_text {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    opacity: 1;
}

.search_icon {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
}

#search_icon {
    width: 19px;
    height: 19px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons img {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#notifications {
    position: relative;
    display: flex;
    align-items: center;
}

#notify_oval {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
}

#notify_count {
    position: absolute;
    top: -5px;
    right: -1px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    z-index: 1;
}

.user_pic {
    display: flex;
    align-items: center;
}

#user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#more_top_channel {
    display: none;
    width: 5px;
    height: 19px;
}



@media (max-width: 768px) {
    #content_container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 61px;
        grid-template-areas:
            "topbar"
            "main"
            "sidebar";
    }

    #top_section {
        height: 50px;
        padding: 0 16px;
        gap: 10px;
    }
    
    #menu_button {
        display: none;
    }

    .topbar-left {
        gap: 10px;
    }

    .search {
        justify-content: flex-end;
    }

    #search_field {
        display: none;
    }

    .search_icon {
        position: static;
        padding-right: 10px;
    }

    .icons {
        display: none;
    }

    #user_img {
        display: none;
    }

    #more_top_channel {
        display: block;
    }

    .user_pic {
        margin-left: auto;
    }
}