body{
    width: 1920px;
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden; 
}

#top_section{
    z-index: 1;
    display: flex;
    position: fixed;
    background-color: #FFFFFF;
    width: 100vw;
    height: 65px;
}

#top_section a:hover{
    cursor: pointer;
}

#menu_button{
    position: absolute;
    top: 34px;
    left: 32px;
}

#logo{
    position: absolute;
    left: 80px;
    top: 30px; 
}

.search{
    display: flex;
    position: absolute;
    top: 20px;
    left: 255px;
}

#search_field{
   width: 830px; 
   height: 44px;
   border-radius: 22px;
   opacity: 30%;
   border: 0;
   display: flex;
   position: relative;
   background-color: #EBEBEB;
}

@media (max-width: 1460px) {
    .search{
        width: 50%;
    }
    #search_field {
        width: 100%;
    }
}

@media (max-width: 1220px) {
    .search{
        width: 40%;
    }
    #search_field {
        width: 100%;
    }
}

@media (max-width: 1010px) {
    .search{
        width: 30%;
    }
    #search_field {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .search{
        width: 20%;
    }
    #search_field {
        width: 100%;
    }
}

#search_text{
    position: relative;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    margin-left: 20px;
}

.search_icon{
    position: absolute;
    right: 15px;
    margin-top: 12.5px;
}

.right_part{
    display: flex;
}

.icons{
    position: fixed;
    top: 23px;
    right: 155px; 
    width: 175px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notifications{
    display: flex;
    align-items: center;
}

#notify_oval{
    position: absolute;
    margin-bottom: 17px;
    margin-left: 7px;
}

#notify_count{
    font-family: "Mulish", sans-serif;
    position: absolute;
    margin-bottom: 17px;
    margin-left: 13px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}

.user_pic{
    position: fixed;
    top: 22px;
    right: 70px;
}

.sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 90vh;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 58px;
    position: fixed;
    top: 59px;
}

.sidebar:hover {
  overflow-y: auto;
}



#menu{
    top: 55px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    left: 31px;
}

.sidebar a{
    display: flex;
}

.sidebar a:hover{
    cursor: pointer;
}

#menu, a, div{
    position: relative;
    font-family: "Mulish", sans-serif;
    color: #898989;
    justify-content: space-between;
}

#home{
    color: #FF0000 !important;
}

.home{
    width: 78px;
    height: 20px;
}

#home_ico{
    width: 20px;
    height: 19px;
}

.trending{
    width: 96px;
    height: 21px;
}

#trending_ico{
    width: 16px;
    height: 21px;
}

.subscriptions{
    width: 132px;
    height: 20px;
}

#subscriptions_ico{
    width: 18px;
    height: 18px;
}

.library{
    width: 86px;
    height: 20px;
}

#library_ico{
    width: 20px;
    height: 16px;
}

.history{
    width: 87px;
    height: 20px;
}

#history_ico{
    width: 20px;
    height: 18px;
}

.watch_later{
    width: 119px;
    height: 20px;
}

#watch_later_ico{
    width: 17px;
    height: 19px;
}

.favourites{
    width: 110px;
    height: 20px;
}

#favourites_ico{
    width: 19px;
    height: 18px;
}

.liked_videos{
    width: 123px;
    height: 20px;
}

#liked_videos_ico{
    width: 18px;
    height: 17px;
}

.music{
    width: 75px;
    height: 20px;
}

#music_ico{
    width: 18px;
    height: 20px;
}

.games{
    width: 86px;
    height: 20px;
}

#games_ico{
    width: 22px;
    height: 16px;
}

.show_more{
    width: 115px;
    height: 20px;
}

#show_more_ico{
    margin-top: 8px;
    margin-left: 4px;
    width: 14px;
    height: 8px;
}

#subscriptions_menu{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 55px;
    width: 159px;
    height: 324px;
    left: 31px;
    gap: 30px;
}

#subscriptions_menu #subs a{
    position: relative;
    font-family: "Mulish", sans-serif;
    color: #898989;
    gap: 10px;
    align-items: center;
}

#subscriptions_menu #subs a{
    width: 159px;
    justify-content: start;
}

#subscriptions_title{
    font-family: "Mulish", sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

#subs{
    width: 159px;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subscriptions_menu #subs a img{
    width: 26px;
    height: 26px;
}

.settings{
    top: 55px;
    position: relative;
    display: flex;
    width: 84px;
    height: 20px;
    left: 34px;
    justify-content: space-between;
}

#settings_ico{
    width: 19px;
    height: 20px;
}

#settings{
    position: relative;
    font-family: "Mulish", sans-serif;
    color: #898989;
}

.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 255px;
    top: 114px; 
    width: 90vw;
}

#Dollie_Blair{
    display: flex;
    flex-direction: column;
    height: 263px;
    gap: 30px;
    margin-top: 61px;
}

#video_sec{
    width: 295px;
    height: 33px;
    display: flex;
    align-items: center;
}

#video_sec_name{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #19202C;
}

.videos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: "Mulish", sans-serif;
    justify-content: start;
    height: 180%;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.videos a:hover{
    cursor: pointer;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.preview img{
    width: 250px;
    height: 150px;
}

.rec_preview img{
    width: 540px;
    height: 250px;  
}

.time{
    position: absolute;
    margin-top: -40px;
    margin-left: 193px;
    width: 47px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time_text{
    opacity: 130%;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.video_name{
    font-weight: 700;
    font-size: 16px;
    color: #19202C;
}

.info{
    font-weight: 400;
    font-size: 13px;
    color: #C2C2C2;
    display: flex;
}

.buttons_sec{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    position: relative;
    margin-left: auto;
    margin-right: 240px;
}

.buttons_sec a:hover{
    cursor: pointer;
}


.buttons_sec img{
    width: 28px;
    height: 28px;
}

#sec{
    width: auto;
    display: flex;
    flex-direction: row;
    height: 80px;
    gap: 19px;
    align-items:center;
}

.buttons_sec #subscribe_button:hover{
    cursor: pointer;
}

#subscribe_button{
    background-color: #FF0000;
    width: 154px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -80px;
}

.buttons_sec #subscribe_button:hover{
    cursor: pointer;
}

#author{
    position: relative;
    width: 299px;
    height: 80px;
    display: flex;
    align-items: center;
}

#author_inf{
    display: flex;
    flex-direction: column;
}

#author_pic{
    height: 80px;
}

#author_name{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #19202C;
}

#author_subs{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #C2C2C2;
}

.channel_menu{
    margin-top: 20px;
    display: flex;
    width: 834px;
    height: 28px;
}

.channel_menu div{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

 #channels_button, #discussion_button, #about_button, #search_channel_menu, #playlist_button, #videos_button{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
 }

.channel_menu a{
    text-decoration: none;
    align-items: center;
}

#home_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_button{
    color: #FF0000;
}

#underscore{
    background-color: #FF0000;
    width: 60px;
    height: 2px;
    border-radius: 3px;
}

.center{
    height: 250px;
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    gap: 204px;
    justify-content: start;
}

.prev_video{
    width: 1120px;
    height: 250px;
}

.prev_video .video{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.prev_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

#video_name{
    width: 431px;
    height: 68px;
    margin-top: 17px;
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #19202C;
}

#video_description{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    opacity: 60%;
}

#video_info{
    margin-top: 20px;
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C2C2C2;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.prev_preview img{
    width: 540px;
    height: 250px;  
}

.prev_video .time{
    position: absolute;
    margin-top: -40px;
    margin-left: 483px;
    width: 47px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommended_channels{
    width: 188px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -70px;
}

#rec_title{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C2C2C2;
}

.recommended_channels a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 189px;
    height: 50px;
}

.recommended_channels a div{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #19202C;
}

.recommended_channels a img{
    height: 50px;
}

#sec_auth{
    margin-top: 30px;
    width: auto;
    display: flex;
    flex-direction: row;
    height: 80px;
    gap: 19px;
    align-items:center;
}

#channel_back{
    margin-top: -10px;
}

#sec_notify{
    width: 22px;
    height: 26px;
}

#sec_notify_a{
    display: flex;
    align-items: center;
    justify-content: center;
    right: -70px;
}

#logo2{
    display: none;
}

#top_channel_name{
    display: none;
}

#more_top_channel{
    display: none;
}

#mobile_channel_back{
    display: none;
}

#more_channel_menu{
    display: none;
}


/* ---------------------------------------------------------------------------- */



@media (max-width: 768px) {

    #mobile_channel_back{
        display: block;
        width: 100%;
        height: auto;
    }

    #channel_back{
        display: none;
    }

    #logo{
        display: none;
    }

    #logo2{
        display: block;
        position: absolute;
        top: 12px;
        left: 16px; 
    }

    #top_channel_name{
        display: block;
        font-family: "Mulish", sans-serif;
        color: #19202C;
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        width: 127px;
        top: 14px;
        left: 63px; 
    }

    .search{
        display: flex;
        position: absolute;
        width: auto;
        left: 0px;
        height: 19px;
        right: 80px;
        margin-top: -4px;
    }

    .time{
        right: 10px;
        bottom: 15px;
    }

    .video{
        width: 80%;
    }

    .video img{
        width: 100%;
        height: 100%;
    }

    .user_pic img{
        width: 30px;
        height: 30px;
    }

    #user_img{
        display: none;
    }

    #more_top_channel{
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        width: 5px;
        height: 19px;
    }

    .search_icon{
        right: 0px;
        margin-top: 0px;
    }

    .user_pic{
        position: fixed;
        top: 10px;
        right: 16px;
    }

    #menu_button{
        display: none;
    }

    #search_field{
        display: none;
    }

    .icons{
        display: none;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 100%;
        left: 0px;
        padding-bottom: 70px;
        top: 60px;
    }

    #sec_auth{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #sec_notify_a{
        display: none;
    }

    .buttons_sec{
        width: 100%;
        align-items: start;
        margin-top: 45px;
    }

    #subscribe_button{
        right: auto;
        left: 16px;
        height: 34px;
        width: 120px;
        font-size: 12px;
    }

    #author{
        left: 16px;
        width: 100%;
        margin-top: -70px;
        flex-direction: column;
        align-items: start;
    }

    .channel_menu{
        justify-content: space-around;
        margin-top: 30px;
        width: 100%;
    }

    #home_button{
        font-weight: 700;
    }

    #channels_button, #discussion_button, #about_button, #search_channel_menu{
        display: none;
    }

    #last_channel_button{
        align-items: center;
        display: flex;
    }

    .center{
        display: none;
    }

    #more_channel_menu{
        display: flex;
    }

    #menu{
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
    }

    #menu div{
        font-size: 10px
    }

    #space{
        display: none !important;
    }

    #menu a{
        flex-direction: column;
        align-items: center;
    }

    #subscriptions_menu{
        display: none;
    }

    .sidebar a{
        display: none;
    }

    .settings{
        display: none;
    }

    .home, .trending, .subscriptions, .library{
        display: flex !important;
    }


    .sidebar {
        top: auto;
        position: fixed; 
        left: 0;   
        bottom: 0;       
        width: 100%;        
        height: 61px;      
        display: flex;      
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        background-color: #FFFFFF;
        border-top: 1px solid #EBEBEB; 
        z-index: 1;      
    }

    #Dollie_Blair{
        margin-top: 16px;
        height: auto;
        width: 100%;
        align-items: center;
    }

    #Recommended{
        height: auto;
    }

    #Food_Drink{
        height: auto;
    }

    #sec{
        display: none;
    }

    .videos{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}